
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100%;
    width: 100%;
    overflow-x: none;  
    background-color: rgba(142, 207, 209, 0.507);
/*background: #b5d3d8;
background: linear-gradient(98deg, #e2e5e8 0%, #ffffff 100%);*/
}
.navContainer{
    width: 100vw;
    background-color: #0093E9;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
      min-height: 80px;
      display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

nav{
    width: 100%;

}

#navList{
    width: 100%;
    padding: 15px;
   /* margin-left: 15px;
    margin-right: 15px;*/
    list-style: none;
    font-size: 2.8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#navLogo{
    font-size: 2.8rem;
    color: azure; 
}
a{
    text-decoration: none;
    color: azure;
}
#navitems{
    display: flex;
    gap: 40px;
}
.footerBox{
/* background-image:linear-gradient(160deg,#0093E9 0%, #80D0C7 100%); 
*/
background-color: #0093E9;
background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
min-height: 80px;
text-align: center;
min-height: 40px;
}
.footerBox{
    color: azure;
    font-size: 2rem;
}
.containerBox{
    width: 80%;
    margin: auto;
   /* border: 1px solid black;*/
   background-color: azure;
   /* background-color: rgba(181, 219, 16, 0.681);*/
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding:2rem ;
    box-shadow: 0px 0px 30px;
}
.item{
    display: flex;
    justify-content:space-around;
     
    
}
.rightBox{
    position: relative;
    transition: all 0.3s liner 0s;
    box-shadow: 1px 1px 10px black;
    border-radius: 20px;
    height: 100%;
    
    
}
.rightBox img{
    border-radius: 20px;
    transition: all 0.6 linear 0s;
}

.rightBox:hover{
    transform: scale(1.1);
}
.leftBox{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.ingBox{
    font-size: 1.3rem;
}
.recipebox{
    font-size: 1.2rem;
    
}

.rightBox .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(36, 34, 34, 0.713);
    border-radius: 20px; 
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s linear 0s;
}
.rightBox:hover .overlay{
    opacity: 1;
}

.rightBox .overlay span{
    color:white;
    font-size: 1.2rem;
}
.recipeBox{
    font-size:1.2rem;
    font-weight: 200;
    font-display:auto;
    font-style: inherit;
}
